{% load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek H P</title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home <i class="fa-solid fa-house"></i></a></li>
                <li><a href="#about" class="t-white roboto">About Me <i class="fa-solid fa-user"></i></a></li>
                <li><a href="#skills" class="t-white roboto">Skills <i class="fa-solid fa-code"></i></a></li>
                <li><a href="#Projects" class="t-white roboto">Projects <i class="fas fa-project-diagram"></i></a></li>
                <li><a href="#Contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
                <!-- New Mail Link -->
                <li>
                    <a href="mailto:hpabhishek833@gmail.com" class="t-white roboto">
                        Mail <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
        
    </nav>
    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h6 class="poppinss intro-text">Hi, I'm</h6>
                <h1 class="t-white main-heading">ABHISHEK H P</h1>
                <h4 class="poppinss sub-heading">Computer Science Graduate</h4>
                <div class="button-group">
                    <a href="{% static 'pdf/Abhishek H P.pdf' %}" target="_blank">
                        <button class="btn poppins resume-btn">View Resume</button>
                    </a>
                    <a class="btn live poppins talk-btn" id="hireme" href="https://www.linkedin.com/in/abhishek-hp-aa204b272" target="_blank">
                        Let's Talk
                    </a>
                </div>
            </div>
            
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
                <!-- Replace the src with the path to your image -->
                <img src="{% static 'images/abhishekhp.jpg' %}" alt="Abhishek HP" class="profile-image">
            </div>
        </div>
        
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-white f-2 section-title">About Me</h1>
        <div class="about-container flex s-around">
            <!-- Left Section (Image) -->
            <div class="about-left flex s-center items-center">
                <!-- Replace the src link with your own image -->
                <img src="{% static 'images/aboutme1.png' %}" alt="About Me Image" class="about-image">
            </div>
    
            <!-- Right Section (Content) -->
            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-white m-b-1 poppins about-name">Abhishek H P</h1>
                    <p class="t-white poppins about-description">
                        Enthusiastic Computer Science graduate with a strong foundation in Python programming, data structures, and
                        problem-solving. Proficient in object-oriented programming, version control with Git, and building
                        scalable, efficient applications. Passionate about creating high-performance, interactive solutions while
                        working collaboratively in dynamic environments.
                    </p>
                    <a class="btn hire-btn" href="mailto:hpabhishek833@gmail.com">Hire Me</a>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/skills.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
           <!-- <div class="skillss-container">-->
            <div id="skills-section" class="skills">
                <div class="skills-container">
                    <div class="skill-button">Java</div>
                    <div class="skill-button">Python</div>
                    <div class="skill-button">Django</div>
                    <div class="skill-button">SQL</div>
                    <div class="skill-button">HTML</div>
                    <div class="skill-button">CSS</div>
                    <div class="skill-button">PHP</div>
                </div>
            </div>
            
           <!-- </div>-->  
        </div>
        </div>
    </section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class="t-center my-2 t-white f-2">Projects</h1>
        <div class="projects-container flex s-center">
            {% for project in projects %}
            <div class="projects-item flex f-col s-center items-center">
                <h1 class="t-white poppins">{{ project.title }}</h1>
                <p class="t-white poppins">{{ project.description }}</p>
                <div class="buttons flex s-around">
                    {% if project.github_link %}
                    <a href="{{ project.github_link }}" target="_blank" class="btn mx-1 m-top">GitHub</a>
                    {% endif %}
                    {% if project.live_link %}
                    <a href="{{ project.live_link }}" target="_blank" class="btn m-top live">Live Link</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--end Project section-->
    

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins"  id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/abhishek-hp-aa204b272" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/abhishekhp2002" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="https://www.instagram.com/abhishek_h_p/profilecard/?igsh=dDFmZzdwMTl4dGpz" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">Abhishek H P
                </span></p>

    </footer>
     
</body> 
</html>